<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="refresh" content="3600">
		<title>Surfdash</title>
		<link rel="stylesheet" href="static/style.css" />
		<script src="static/tide.js" defer></script>
	</head>
	<body>
		<div class="content">
			<h1 id="top">surfdash</h1>
			<div id="goodtimes">
				{{ with .PresentationElements }}
				{{ range . }}
				<div class="goodtime_row">
					<span class="date">{{ .Date }}</span>
					<div class="goodtime_glance">
						{{ .TideImage }}
						<div class="goodtime_text">
							<span class="goodtime_time">{{ .GoodTime.TimeRange }}</span>
							<div class="goodtime_detail">
								<ul>
									<li class="tooltip"></li>
									{{ range .GoodTime.Reasons }}
									<li>
										{{ . }}
									</li>
									{{ end }}
								</ul>
							</div>
						</div>
					</div>
				</div>
				{{ else }}
					<p>No good times found.</p>
				{{ end }}
				{{ end }}
			</div>
			<div class="footer">
				<p><a href="?start={{ .NextStart }}">next</a><br></p>
				<p><a href="https://www.surfline.com/surf-report/jack-s/5842041f4e65fad6a770880b">jack's</a></p>
				<p><a href="https://www.surfline.com/surf-report/cowells-overview/584204214e65fad6a7709d20">cowells</a></p>
				<p> fork me on <a href="https://github.com/spencer-p/surfdash">github</a></p>
			</div>
		</div>
	</body>
</html>

