<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Surfdash</title>
		<link rel="stylesheet" href="static/style.css" />
		<!---<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>-->
		<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
		<script src="static/index.js" defer></script>
	</head>
	<body>
		<div class="content">
			<h1 id="top">Surfdash</h1>
			<div id="beforeload">
				Loading good times..
			</div>
			<div id="goodtimes" hidden>
				<p v-if="goodtimes.length===0">{{ no_data }}</p>
				<div v-for="gt in goodtimes">
					<hr>
					<img v-bind:src="'api/v2/tide_image?t=' + gt.Time"/>
					<button v-on:click="gt.open = !gt.open">
						<span v-if=gt.open>
							&#x25BC;
						</span>
						<span v-else>
							&#x25B6;
						</span>
					</button>
					{{ gt.pretty_time }}
					<template v-if="gt.open">
						<ul>
							<li v-for="reason in gt.reasons">
								{{ reason }}
							</li>
						</ul>
					</template>
				</div>
			</div>
		</div>
	</body>
</html>

